{% extends 'base.html.twig' %}

{% block title %}Class Scheduling{% endblock %}

{% block body %}
    {% embed '@ATSSchedule/Default/components/filter-modal-wrapper.html.twig' %}
    {% endembed %}
    
    <div class="container-fluid scheduler-header-wrapper">
        <div class="row scheduler-header">
            <div class="col-xs-8 col-sm-4">
                <div class="tool-bar">
                    <button id="clear-calendar" type="button" class="btn btn-default btn-sm">Clear</button>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#filtersModal">
                        Search
                    </button>
                    
                    <button title="Export" id="btn-export" type="button" class="btn btn-default btn-sm"{% if not app.session.get('last_results') %} disabled="disabled"{% endif %}>
                        <span class="fa fa-download"></span>
                    </button>
                </div>
            </div>
            
            <div class="text-center hidden-xs col-sm-4">
                <h4>Scheduling Utility</h4>
            </div>
            
            <div class="text-right header-image col-xs-4 col-sm-4">
                {% image '@ATSScheduleBundle/Resources/public/images/greyOULogo.png' %}
                    <img src="{{ asset_url }}" alt="logo" />
                {% endimage %}
            </div>
        </div>
    </div>
    
    <div class="container-fluid calendar-container">
        <div id="calendar"></div>
        
        <div class="mobile-tooltip hidden-md hidden-lg"></div>
    </div>
{% endblock %}