<!DOCTYPE html>
<html>{% spaceless %}
    <head>
        {% include 'components/meta.html.twig' %}
        {% include 'stylesheets.html.twig' %}
        
        {% include 'blocking-stylesheets.html.twig' %}
        {% include 'components/print-css.html.twig' %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
        
        {% include 'scripts.html.twig' %}
        
        {{ render_esi(controller('ATSScheduleBundle:Default:esi')) }}
        
        {# Prefetch some content for a seemless experience. #}
        <link rel="prefetch" href="{{ asset('assets/vendor/chosen/chosen-sprite.png') }}">
    </body>
{% endspaceless %}</html>
