<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        {# Support for IE 10. #}
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        
        {% include 'stylesheets.html.twig' %}
    </head>
    
    <body>
        {% block body %}{% endblock %}
        
        {% include 'scripts.html.twig' %}
        
        {{ render_esi(controller('ATSScheduleBundle:Default:esi')) }}
        
        {% include 'blocking-stylesheets.html.twig' %}
    </body>
</html>
