# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     10.26.192.193
    database_port:     3306
    database_name:     classplan
    database_user:     ashinpaugh
    database_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    num_years: 2
    
    ods_db_host: 10.26.192.193
    ods_db_port: 3306
    ods_db_name: classnav
    ods_db_user: ashinpaugh
    ods_db_password: ~
    