.nowrap {
  white-space: nowrap;
}

.qtip-content hr {
  margin-top: 0px;
}

.loadersmall {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div.scheduler-header-wrapper {
  
  div.scheduler-header {
    background: rgb(95, 20, 20);
    padding: 0.5em 0;
    
    h4 {
      color: #FFF;
    }
    
    div.header-image {
      padding-right: 1.5em;
      
      img {
        width: 2em;
      }
    }
    
    div.tool-bar {
      margin: 0.25em;
    }
  }
}

div.calendar-container {
  margin-top: 0.5em;

  .capacity {
    border-width: 0.33em;

    &-over-capacity {
      border-color: red;
    }

    &-alert {
      border-color: lightsalmon;
    }

    &-warning {
      border-color: lightpink;
    }

    &-lightsalmon-default {
      border-color: lightgreen;
    }
  }
}

#filtersModal {
  #term_block_chosen, #number_chosen {
    margin: 0.25em 0;
  }
}

/* Styles for the title text of the QTip overlay. */ 
.ttTitle {
  text-decoration: bold;
  font-size: 0.8em;
  
  font-weight: bold;
}

/* The bootstrap chosen add-on's close button is misaligned - correct it. */
.chosen-container {
  &#term_chosen {
    abbr.search-choice-close {
      margin-top: 5em;
    }
  }
}

/* Make room in the chosen choice container for the color picker. */
div.chosen-container {
  li.search-choice {
    
    input[type="color"] {
      width: 3em;
    }
    
    span {
      padding-left: 0.5em;
    }
  }
}