<div class="container-fluid modal-wrapper">
    <div>
        <div class="row">
            <label for="term" class="col-md-3 control-label">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Required"></span>
                Semester
            </label>
            
            <div class="col-md-9">
                <select id="term" class="chosen-select form-control" data-placeholder="Semester..." required>
                    <option></option>
                </select>
            </div>
        </div>
        
        <div class="row">
            <label for="term-block" class="col-md-3 hidden">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Required. The &quot;subset&quot; of semesters to include in the search."></span>
                Part of Term
            </label>
            
            <div class="col-md-9">
                <select id="term-block" class="chosen-select form-control hidden" data-placeholder="Part of Term..." multiple="" required>
                </select>
            </div>
        </div>
    </div>
    
    <div>
        <div class="row">
            <label for="subject" class="col-md-3 control-label">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Optional. Filter by specified subjects/departments."></span>
                Subject
            </label>
            
            <div class="col-md-9">
                <select id="subject" class="chosen-select form-control" data-placeholder="Subject..." multiple="">
                </select>
            </div>
        </div>
        
        <div class="row">
            <label for="number" class="col-md-3 hidden">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Optional. Filter by specified courses."></span>
                Course
            </label>
            
            <div class="col-md-9">
                <select id="number" class="chosen-select form-control hidden" data-placeholder="Course..." multiple="">
                </select>
            </div>
        </div>
    </div>
    
    <div class="row">
        <label for="instructor" class="col-md-3 control-label">
            <span class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Optional. Filter by specified instructors."></span>
            Instructor
        </label>
        
        <div class="col-md-9">
            <select id="instructor" class="chosen-select form-control" data-placeholder="Instructor..." multiple="">
            </select>
        </div>
    </div>
    
    <div class="row filter-help-text help-block">
        <div class="col-md-12">
            <p id="required-fields-help" class="hidden">
                Along with <i>Semester</i> and <i>Part of Term</i>,
                you must provide either a <b>Subject</b> or <b>Instructor</b>
                to make a search.
            </p>
            
            <p class="hidden-xs">
                You can add a color to <i>Subjects</i> and <i>Instructors</i>
                after you've completed a search by opening this dialogue box again
                and adding the subject/instructor, setting a color in the color picker,
                and hitting &quot;Close.&quot;
            </p>
        </div>
    </div>
</div>