<div id="filtersModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="filterLabel">
    <div class="modal-dialog" role="document">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="filterLabel">Filters</h4>
            </div>
            
            <div class="modal-body">
                {% embed '@ATSSchedule/Default/components/filter-modal-body.html.twig' %}
                {% endembed %}
            </div>
            
            <div class="modal-footer">
                <div class="buttons-left">
                    <button id="modal-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="clear-filters" type="button" class="btn btn-default">Clear Filters</button>
                </div>
                <button id="apply-filters" type="button" class="btn btn-primary">Apply</button>
            </div>
        </div>
        
    </div>
</div>

<div id="emptyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="filterEmptyLabel">
    <div class="modal-dialog" role="document">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="filterEmptyLabel">Attention</h4>
            </div>
            
            <div class="modal-body">
                No results matched your filter criteria.
            </div>
            
            <div class="modal-footer">
                <button id="apply-filters" type="button" class="btn btn-default buttons-left" data-dismiss="modal">Close</button>
                <button id="open-filter-btn" type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#filtersModal">Open Filters</button>
            </div>
        </div>
        
    </div>
</div>