/**
 * @see https://gist.githubusercontent.com/koenpunt/6424137/raw/8cd599e6f32c1ed8a2c575ed7500853b3608eef9/chosen-bootstrap.css
 */
select.form-control + .chosen-container .chosen-results li.group-result,
select.form-control + .chosen-container .chosen-results li.group-result:hover {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  padding: 3px 10px;
  background-color: #fff;
  background-image: none;
}
select.form-control + .chosen-container.chosen-container-single .chosen-single {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none;
}
select.form-control + .chosen-container.chosen-container-single .chosen-single div {
  top: 4px;
  color: #000;
}
select.form-control + .chosen-container .chosen-drop {
  background-color: #FFF;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  margin: 2px 0 0;
}
select.form-control + .chosen-container .chosen-search input[type=text] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none;
}
select.form-control + .chosen-container .chosen-results {
  margin: 2px 0 0;
  padding: 5px 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  margin-bottom: 5px;
}
select.form-control + .chosen-container .chosen-results li,
select.form-control + .chosen-container .chosen-results li.active-result {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  background-image: none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted {
  color: #FFF;
  text-decoration: none;
  background-color: #428BCA;
  background-image: none;
}
select.form-control + .chosen-container-multi .chosen-choices {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none;
}
select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto;
  padding: 5px 0;
}
select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
  background-image: none;
  padding: 3px 24px 3px 5px;
  margin: 0 6px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}
select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
  right: 6px;
}
select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus {
  border-color: #66AFE9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
select.form-control + .chosen-container-multi .chosen-results li.result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
  background-color: white;
}

.nowrap {
  white-space: nowrap;
}
.qtip-content hr {
  margin-top: 0px;
}
.loadersmall {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.scheduler-header-wrapper div.scheduler-header {
  background: #5f1414;
  padding: 0.5em 0;
}
div.scheduler-header-wrapper div.scheduler-header h4 {
  color: #FFF;
}
div.scheduler-header-wrapper div.scheduler-header div.header-image {
  padding-right: 1.5em;
}
div.scheduler-header-wrapper div.scheduler-header div.header-image img {
  width: 2em;
}
div.scheduler-header-wrapper div.scheduler-header div.tool-bar {
  margin: 0.25em;
}
div.calendar-container {
  margin-top: 0.5em;
}
div.calendar-container .capacity {
  border-width: 0.33em;
}
div.calendar-container .capacity-over-capacity {
  border-color: #ff0000;
}
div.calendar-container .capacity-alert {
  border-color: #ff9800;
}
div.calendar-container .capacity-warning {
  border-color: #ffff00;
}
div.calendar-container .capacity-lightsalmon-default {
  border-color: #4CAF50;
}
.modal-wrapper label {
  margin-top: 0.5em;
}
.modal-wrapper label span.fa {
  font-size: 0.8em;
}
#filtersModal #term_block_chosen,
#filtersModal #number_chosen {
  margin: 0.25em 0;
}
#filtersModal .buttons-left {
  float: left;
}
/* Styles for the title text of the QTip overlay. */
.ttTitle {
  font-size: 0.8em;
  font-weight: bold;
}
.ttLabel {
  font-size: 0.9em;
  font-weight: bold;
}
.ttDetail {
  font-size: 0.9em;
}
/* The bootstrap chosen add-on's close button is misaligned - correct it. */
.chosen-container#term_chosen abbr.search-choice-close {
  margin-top: 5em;
}
.mobile-tooltip hr {
  margin: auto;
}
/* Make room in the chosen choice container for the color picker. */
div.chosen-container li.search-choice input[type="color"] {
  width: 3em;
}
div.chosen-container li.search-choice span {
  padding-left: 0.5em;
}
